:root {
    font-size: 20px;
    --background-color: #26547c;
    --font-color: #fcfcfc;
    --heading-color: #ffd166;
    --btn-color: #06d6a0;
    --error-color: #ef476f;
}
@media screen and (min-width: 768px) {
    :root {
        font-size: 24px;
    }
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: "Russo One", sans-serif;
    font-size: 1rem;
}

/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* utile*/

.hidden {
    display: none !important;
}

.btn {
    font-size: 1rem;
    color: var(--font-color);
    font-weight: 700;
    background-color: var(--btn-color);
}
.btn:hover,
:focus {
    background-color: var(--font-color);
    color: var(--btn-color);
}
/* start game */
.start-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.start-game_img {
    margin: 3.4rem auto 0 auto;
}

.start-game_ttl {
    margin: auto 1.5rem;
    font-size: 1.2rem;
    color: var(--heading-color);
}

.start-game_txt {
    font-size: 1rem;
    margin: auto 1.5rem;
}

.start-game_btn {
    width: 12rem;
    aspect-ratio: 240/84;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .start-game_btn {
        width: 10rem;
    }
}

/* quiz */
.quiz-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 1rem 1rem 0;
}
.quiz-ttl,
.quiz-score {
    font-size: 1rem;
    color: var(--heading-color);
}

.quiz-container {
    height: calc(100vh - 7.2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.quiz__img {
    width: 4.5rem;
}

.quiz__question {
    margin: 2rem 1rem;
    font-weight: normal;
}
.quiz__question__answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.quiz__answer {
    width: 15rem;
    aspect-ratio: 5;
}

@media screen and (min-width: 768px) {
    .quiz__question__answers {
        display: grid;
        grid-template-areas:
            "a a"
            "a a";
    }
}
